/* csslint float: false, box-sizing: false */

.delete_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_delete.png') no-repeat;
}

.delete_icon a:hover {
  background-position: -50px 0;
}
.stop_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_action_stop.png') no-repeat;
}

.stop_icon a:hover {
  background-position: -50px 0;
}

.play_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_play.png') no-repeat;
}

.play_icon a:hover {
  background-position: -50px 0;
}

.launch_icon a {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_launch.png') no-repeat;
}

.launch_icon a:hover {
  background-position: 0 -16px;
}

.copy_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_copy.png') no-repeat;
}

.copy_icon a:hover {
  background-position: -50px 0;
}

.down_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  background: transparent url('../images/icon_failover_down.png') no-repeat;
}

.down_icon a:hover {
  background-position: -50px 0;
}

.servicedown_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  background: transparent url('../images/icon_failover_service_down.png')
    no-repeat;
}

.servicedown_icon a:hover {
  background-position: -50px 0;
}

.failup_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  background: transparent url('../images/icon_failover_up.png') no-repeat;
}

.failup_icon a:hover {
  background-position: -50px 0;
}

.edit_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_edit.png') no-repeat;
}

.edit_icon a:hover {
  background-position: -50px 0;
}

.monitor_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  background: transparent url('../images/icon_monitor.png') no-repeat;
}

.monitor_icon a:hover {
  background-position: -50px 0;
}

.icon_monitor_gray a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  background: transparent url('../images/icon_monitor_gray.png') no-repeat;
}

.icon_monitor_gray a:hover {
  background-position: -50px 0;
}

.monitor_green_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  background: transparent url('../images/icon_monitor_green.png') no-repeat;
}

.monitor_green_icon a:hover {
  background-position: -50px 0;
}

.monitor_stop_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  background: transparent url('../images/icon_monitor_stop.png') no-repeat;
}

.reboot_icon a:hover {
  background-position: -50px 0;
}

.reboot_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_reboot.png') no-repeat;
}
.monitor_stop_icon a:hover {
  background-position: -50px 0;
}

.lock_icon {
  box-sizing: border-box;
  width: 18px;
  height: 17px;
  margin: 1px 1px 1px 3px; /* !important; */
  padding: 1px 1px 2px 1px;
  cursor: default;
  text-decoration: none;
  background: transparent url('../images/icon_padlock.png') no-repeat;
}

.lock_icon:hover {
  text-decoration: none;
  background-position: -50px 0;
}

.lock_icon_h {
  width: 18px;
  height: 18px;
  margin: 1px;
  cursor: default;
  /* background: transparent url('../images/icon_padlock.png') no-repeat; */
  background-position: -50px 0;
}

.ssh_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_ssh.png') no-repeat;
}

.ssh_icon a:hover {
  background-position: -50px 0;
}

.table_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_table_inputs.png') no-repeat;
}

.table_icon a:hover {
  background-position: -50px 0;
}

.shutdown_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_hardshutdown.png') no-repeat;
}

.shutdown_icon a:hover {
  background-position: -50px 0;
}

.resume_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_resume.png') no-repeat;
}

.resume_icon a:hover {
  background-position: -50px 0;
}

.suspend_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_suspend.png') no-repeat;
}

.suspend_icon a:hover {
  background-position: -50px 0;
}

.hardreboot_icon a {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 1px;
  text-indent: -9999px;
  direction: ltr;
  background: transparent url('../images/icon_hardreboot.png') no-repeat;
}

.hardreboot_icon a:hover {
  background-position: -50px 0;
}

table.hide-action-column tr {
  overflow: visible;
}

.sticky-header th.action-column {
  display: none;
}

table.hide-action-column .action-column {
  position: absolute;
  z-index: 99;
  left: 0;
  display: none;
  /* csslint box-sizing: false */
  box-sizing: border-box;
  width: 100px;
  border-top: 1px solid #edf5fa;
  border-right: 1px solid #d3e7f4;
  border-bottom: 1px solid #d3e7f4;
  border-left: 1px solid #d3e7f4;
  background-color: #edf5fa;
  -moz-box-shadow: 0 1px 1px #bbb;
  -webkit-box-shadow: 0 1px 1px #bbb;
  box-shadow: 0 1px 1px #bbb;
}

table.hide-action-column .even .action-column {
  border-top: 1px solid #fff;
  background-color: #fff;
}

table.hide-action-column .nickname-column a {
  display: block;
  float: left;
  white-space: nowrap;
}

.action_toggle_icon {
  display: block;
  float: left;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin: 2px 5px 0 0;
}

.action_toggle_icon_on {
  background-position: 0 0;
}
