label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

option {
  font-size: 16px;
}

.form-item-examples {
  padding-top: 20px;
  border-top: 1px solid #eee;
  font-size: small;
}

.button--danger {
  margin-left: 10px;
}

p:last-child,
.panel:last-child {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 5px;
}

.form-group.form-type-date {
  margin-bottom: 0;
}

.view-content .views-form select {
  line-height: inherit;
}

#edit-header div {
  display: inline-block;
}

.user-login-form div:nth-child(2) {
  padding-bottom: 10px;
}

.messages__wrapper .alert-success p,
.messages__wrapper .alert-danger p,
.messages__wrapper .alert-info p,
.messages__wrapper .alert-warning p {
  margin-bottom: 0;
}

.bulk-delete-form .actions div {
  display: inline-block;
  margin-right: 5px;
}

.bulk-delete-form .actions .select-wrapper {
  width: auto;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #699bf8;
}

.select2-results__option {
  padding: 3px 6px;
}

.form-item,
.views-exposed-form .form-group.form-wrapper.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
.views-exposed-form .js-form-item-items-per-page {
  padding-right: 8px;
}
.form-group .js-form-item-action {
  padding-right: 6px;
}

a.button.button-action {
  position: relative;
  padding-left: 40px;
  color: white;
}

.button-action::before {
  position: absolute;
  top: 50%;
  left: 5px;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: bootstrap-icons !important;
  font-weight: normal !important;
  font-style: normal;
  font-variant: normal;
}

.button {
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 4px;
  background-image: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.btn {
  white-space: nowrap;
}

.btn-danger,
.btn-wrap.btn-danger .button.form-submit {
  color: #fff;
  border-color: #d43f3a;
  background-color: #d9534f;
}
.btn-danger:hover {
  text-decoration: none;
}
.btn-wrap.btn-danger:hover .button.form-submit {
  background-color: transparent;
}

.btn-wrap .button.form-submit {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.btn-wrap .button.form-submit:hover,
.btn-wrap .button.form-submit:focus,
.btn-wrap .button.form-submit:active {
  border: none;
  background-color: transparent;
}

.dropbutton-widget {
  border: none;
}
.draggable a.tabledrag-handle {
  margin-left: 0;
}

.dropbutton {
  border-radius: 4px;
}

.js td .dropbutton-multiple {
  margin-right: 0;
  padding-right: 0;
}

form .select-wrapper::after {
  position: absolute;
  z-index: 99;
  top: 50%;
  right: 10px;
  display: inline-block;
  margin-top: -6px;
  padding: 3px;
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid;
  border-width: 0 2px 2px 0;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

form .form-item .form-select {
  background-image: none;
}
form.views-exposed-form .form-item .form-select,
form .form-item .form-select {
  height: 33px !important;
}

.view-content .views-form .form-group .js-form-item-action {
  margin-bottom: 20px;
}
.cloud-launch-template-list .form-wrapper .form-item {
  margin-right: 0;
}
.cloud-launch-template-list #edit-header .form-actions {
  margin-top: 0;
}
.cloud-launch-template-list #edit-header .form-actions .btn-wrap {
  margin-top: -30px;
}

/* Details page */
.field--label-inline,
.field--label-above {
  clear: both;
}
.field--label-inline .field--label,
.field--label-inline .field--items {
  float: left;
}
.field--label-inline .field--label::after {
  content: ':';
}
.field--label-inline .field--label,
.field--label-inline > .field--item,
.field--label-inline .field--items {
  padding-right: 0.5em;
}
.field--label {
  font-weight: bold;
}
details > .details-wrapper {
  padding: 15px;
}
details > .details-wrapper .js-form-item {
  margin-top: 0;
  margin-bottom: 5px;
}
details > .details-wrapper.card-body {
  overflow: hidden;
}
details > .details-wrapper.card-body #k8s_entity_metrics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
details > .details-wrapper.card-body #k8s_entity_metrics .col-sm-6 {
  padding: 0 15px;
}

details > .details-wrapper .form-type-date {
  margin-right: 5px;
}
pre {
  display: block;
  margin: 0 0 10px;
  padding: 9.5px;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 13px;
  line-height: 1.42857;
}
.form-item .help-block {
  margin: 5px 0 10px;
  padding: 0;
  font-size: 12px;
}
.draggable a.tabledrag-handle {
  margin-left: 0;
}

/* Alert Message */
.alert-dismissible .close {
  position: relative;
  z-index: 9;
  top: 0;
  right: -21px;
  float: right;
  padding: 0;
  cursor: pointer;
  color: inherit;
  border: 0;
  background: 0 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  appearance: none;
}
.alert-dismissible .item-list--messages {
  margin: 0;
  padding: 0;
}
.alert-success a {
  color: #2b542c;
  font-weight: bold;
}
.alert-success a:hover,
.alert-success a:focus {
  text-decoration: underline;
  color: #2b542c;
}
.alert-success .close:hover {
  color: #2b542c;
}
.alert-danger a {
  color: #843534;
  font-weight: bold;
}
.alert-danger a:focus,
.alert-danger a:hover {
  text-decoration: underline;
  color: #843534;
}

@media (max-width: 767px) {
  .views-exposed-form .form--inline {
    display: block;
  }
  .views-exposed-form .form-item {
    display: block !important;
  }
  .views-exposed-form .form--inline .form-item {
    margin-bottom: 16px;
  }
  details > .details-wrapper.card-body #k8s_entity_metrics {
    display: block;
    flex-wrap: inherit;
    width: 100%;
  }
  details > .details-wrapper.card-body #k8s_entity_metrics .col-sm-6 {
    width: 100%;
  }
}

.user-login-form .help-block {
  display: none;
}

.user-login-form .btn-wrap span {
  margin-right: 7px;
}
