@media screen and (max-width: 767px) {
  .table-responsive .dropdown-menu {
    position: static !important;
  }

  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit;
  }

  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 15px 0 25px;
  }
}

@media (min-width: 768px) {
  .view-content .views-form .select-wrapper {
    width: auto;
  }

  .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    white-space: nowrap;
    border: 1px solid #ddd;
  }
}

@media screen and (min-width: 992px) {
  .table-responsive {
    overflow: inherit !important;
  }

  .dropdown-submenu .dropdown-menu {
    margin-bottom: 2px;
  }

  .navbar .navbar-nav .open .dropdown-submenu ul.dropdown-menu > li > a {
    padding-left: 20px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu .dropdown-submenu ul {
    background-color: #fff;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .dropdown-submenu ul {
    background-color: #fff;
  }
}
