.modal {
  padding: 0 !important;
  text-align: center;
}

.modal-content {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.modal::before {
  display: inline-block;
  height: 100%;
  margin-right: -4px; /* Adjusts for spacing */
  content: '';
  vertical-align: middle;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-dialog {
  width: 900px;
  max-width: 900px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.close {
  position: absolute;
  z-index: 999;
  top: 0;
  right: -30px;
  opacity: 1;
  color: #fff;
  font-size: 2rem;
  font-weight: normal;
}

.close:hover,
.close:focus {
  opacity: 1;
  color: #fff;
}

button.video {
  margin-bottom: 10px;
}

.video img {
  border: 1px solid;
}
