body.navbar-is-fixed-top {
  margin-top: 95px;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  cursor: default;
  color: #555;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: #fff;
}

nav .navbar-nav {
  margin-left: 10px;
  font-size: 1.1em;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent;
}

.navbar-toggler {
  margin: 18px 0;
  margin-right: 15px;
}

.navbar .logo {
  padding-right: 0;
}

.name.navbar-brand {
  margin-right: 0;
  margin-left: 8px;
  padding-top: 13px;
  padding-left: 0;
  font-size: x-large;
}

.logo.navbar-btn img {
  height: 50px;
}

nav .navbar-default .navbar-nav > .show,
.navbar-default .navbar-nav > .show:hover,
.navbar-default .navbar-nav > .show:focus,
nav .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #337ab7;
}

nav .navbar-nav .dropdown > .dropdown-menu,
nav .navbar-nav .dropdown > .dropdown-menu .dropdown-menu {
  font-size: 0.9em;
}

.dropdown-menu > li > a {
  display: inline-block;
  padding: 3px 20px;
  color: #777;
}
.navbar-nav .dropdown .dropdown-menu li a.dropdown-submenu-toggle {
  display: inline-block;
  padding: 3px 20px;
}
.navbar-nav .dropdown .dropdown-menu li a.dropdown-submenu-toggle .caret {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .caret {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.dropdown-submenu > .dropdown-menu {
  top: -5px !important;
  left: 100%;
  border: none;
}

.dropdown-submenu.open > a::after {
  border-left-color: #fff;
}

.dropdown-submenu.open > .dropdown-menu,
.dropdown-submenu.open > .dropdown-menu {
  display: block;
}

.dropdown-submenu .dropdown-menu {
  margin-bottom: 8px;
}

.navbar-default .navbar-nav .open .dropdown-menu .dropdown-submenu ul {
  background-color: #f6f6f6;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .dropdown-submenu ul {
  background-color: #333;
}

body.toolbar-vertical .toolbar-bar {
  position: fixed;
}

.navbar .navbar-header .region-navigation {
  padding-left: 0;
}

.open > .dropdown-menu {
  display: block;
}

@media (max-width: 991px) {
  nav .navbar-nav {
    padding: 0;
  }
  body.toolbar-vertical {
    margin-top: 95px;
  }
  .navbar .navbar-collapse.show {
    height: 100% !important;
    border: none;
  }
  .navbar-nav .dropdown .dropdown-menu {
    box-shadow: none;
  }
}
