/* Link changes */
a {
  color: #c03;
}

a:hover {
  text-decoration: underline;
  color: #3374da;
}

/* Table */
.table th a,
table.sticky-header th a {
  color: #333;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  border-top: 1px solid #ddd;
  line-height: 1.42857;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) > *,
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: #f9f9f9;

  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover,
.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: #f5f5f5;

  background-color: #f5f5f5;
}
tr.selected td {
  color: #c03;
  background-color: #fff;
}
.table > thead > tr > th > a .glyphicon.icon-after,
.table > thead > tr > th > a .glyphicon,
.table thead th.is-active .caret,
.sticky-header thead th.is-active .caret {
  color: #c03;
}
.table thead th.is-active .caret.downarrow {
  transform: rotate(-135deg);
}

/* Menu design */
.caret {
  display: inline-block;
  margin-top: -3px;
  margin-left: 5px;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #c03;
  border: solid;
  border-width: 0 2px 2px 0;
}

body.extra_small_text .caret {
  margin-top: -2px;
  padding: 2px;
  border-width: 0 2px 2px 0;
}

body.small_text .caret {
  margin-top: -3px;
  padding: 3px;
  border-width: 0 2px 2px 0;
}

body.medium_text .caret {
  margin-top: -4px;
  padding: 4px;
  border-width: 0 2px 2px 0;
}

body.large_text .caret {
  margin-top: -6px;
  padding: 6px;
  border-width: 0 2px 2px 0;
}

body.extra_large_text .caret {
  margin-top: -8px;
  padding: 8px;
  border-width: 0 2px 2px 0;
}

.dropdown-submenu .caret {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tabbable-panel ul.nav-tabs li {
  margin-right: 2px;
}
.tabbable-panel ul.nav-tabs li a {
  padding: 11px 15px;
  border-radius: 4px 4px 0 0;
}
.tabbable-panel ul.nav-tabs li.active a {
  padding: 10px 15px;
}
.tabbable-panel ul.nav-tabs li a:hover,
.tabbable-panel ul.nav-tabs li a:focus {
  text-decoration: none !important;
}
.tabbable-panel ul.nav-tabs li:hover a {
  text-decoration: none;
  color: #3374da;
  border-color: #eee #eee #ddd;
  background-color: #eee;
}
.tabbable-panel ul.nav-tabs li.active:hover a {
  text-decoration: none;
  color: #555;
  border-color: #ddd #ddd transparent;
  background-color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #c03;
}

nav .navbar-default .navbar-nav > .show,
.navbar-default .navbar-nav > .show:hover,
.navbar-default .navbar-nav > .show:focus,
nav .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
nav .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
nav .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: underline;
  color: #c03;
  background-color: #e7e7e7;
}

.navbar-default .dropdown-menu .caret,
.navbar-default .navbar-nav > li.open > a + ul > li.open > a {
  text-decoration: underline;
  color: #c03;
}

.navbar-nav .dropdown .dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.navbar-nav .dropdown-menu > li > a {
  color: #777;
}
.navbar-default .navbar-nav li.open > a {
  color: #555;
  background-color: #e7e7e7;
}

/* Button Design */
.btn-default {
  color: #333;
  border-color: #ccc;
}

.btn-warning {
  color: #000;
  border-color: #000;
  background-color: #fff;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success:focus,
.btn-success.focus,
.open > .dropdown-toggle.btn-success,
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  text-decoration: none;
  color: #fff;
  border-color: #c03;
  background-color: #c03;
}

.btn-primary,
.btn-success,
.btn-info,
.button.form-submit,
.btn-wrap,
.btn-wrap:hover {
  color: #fff;
  border-color: #c03;
  background-color: #c03;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info:focus,
.btn-info.focus,
.open > .dropdown-toggle.btn-info,
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus,
.btn-wrap .button.form-submit,
.btn-wrap.btn-default:hover,
.btn-wrap.btn-default:focus,
.btn-wrap.btn-default:active {
  text-decoration: none;
  color: #fff;
  border-color: #c03;
  background-color: #c03;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning,
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default.active:hover {
  text-decoration: none;
  color: #333;
  border-color: #adadad;
  background-color: #e6e6e6;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary:focus,
.btn-primary.focus,
.button.form-submit:hover,
.button.form-submit:focus,
.button.form-submit:active:hover {
  text-decoration: none;
  color: #fff;
  border-color: #c03;
  background-color: #c03;
}

.btn-wrap.btn-danger,
.btn-wrap.btn-danger:hover {
  color: #fff;
  border-color: #d43f3a;
  background-color: #d9534f;
}
.btn-wrap .button.form-submit,
.btn-wrap .button.form-submit:hover,
.btn-wrap .button.form-submit:focus,
.btn-wrap .button.form-submit:active {
  border: none;
  background-color: transparent;
}

.select-wrapper::after {
  color: #c03;
}
.user-login-form .btn-danger.btn-wrap,
.user-login-form .btn-danger.btn-wrap .form-submit,
.user-login-form .btn-danger.btn-wrap:hover,
.user-login-form .btn-danger.btn-wrap:hover .form-submit {
  color: #fff;
  border-color: #c03;
  background-color: #c03;
}

/* Title and Breadcumb design */
.page-header {
  margin-top: 20px;
}
.breadcrumb {
  margin-bottom: 20px;
  padding: 8px 15px 8px 0;
}
.breadcrumb > .active,
.breadcrumb > .active a {
  color: #777;
}

/* Tab design */
.tabs .nav-tabs {
  border: none;
}

.tabs .nav > li > a {
  margin: 4px 0 10px;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.2s ease-in-out;
  color: #000;
  border: none;
  border-bottom: none;
  border-left: 1px solid #ccc;
  border-radius: 0;
  line-height: normal;
}

.tabs .nav > li:last-child > a {
  border-right: 1px solid #ccc;
}

.tabs .nav-tabs > li.active {
  border-bottom: 3px solid #c03;
}

.tabs .nav-tabs > li.active > a {
  color: #c03;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.nav-tabs > li {
  margin-bottom: 10px;
}

.tabs .nav > li > a:hover,
.tabs .nav > li > a:focus {
  color: #c03;
  background-color: transparent;
}

body.extra_small_text .tabs .nav > li > a {
  margin: 4px 0 6px;
}

body.extra_small_text .tabs .nav-tabs > li.active {
  border-bottom-width: 2px;
}

/* Select icon */
form .select-wrapper::after {
  color: #c03;
}
body.extra_small_text form .select-wrapper::after {
  margin-top: -4px;
  padding: 2px;
}

body.small_text form .select-wrapper::after {
  margin-top: -5px;
  padding: 3px;
}

body.medium_text form .select-wrapper::after {
  margin-top: -6px;
  padding: 4px;
}

body.large_text form .select-wrapper select {
  padding-right: 2.5em;
}

body.large_text form .select-wrapper::after {
  right: 13px;
  margin-top: -10px;
  padding: 6px;
}

body.extra_large_text form .select-wrapper select {
  padding-right: 3em;
}

body.extra_large_text form .select-wrapper::after {
  right: 17px;
  margin-top: -14px;
  padding: 8px;
}

/* Pagination color changes */
.pagination > li > a,
.pagination > li > span {
  color: #c03;
  border: 1px solid #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: #c03;
  background-color: #c03;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #c03;
}

/* Up and Down arrow icon for table */
.glyphicon {
  margin-right: 3px;
}
.glyphicon.glyphicon-tags {
  margin-right: 4px;
}

/* form element */
select.form-select,
select.form-select:hover {
  border: 1px solid #ccc;
  background-color: #fff;
}
.form-inline .select-wrapper {
  width: auto;
}

/* Tab buttons */
.local-actions li a i {
  margin-right: 5px;
}

.views-exposed-form .form-item {
  display: flex;
  align-items: center;
}

.views-exposed-form .form-item .control-label {
  margin-right: 10px;
}

.views-exposed-form .form-item .form-control {
  display: inherit;
  width: auto;
}
.views-exposed-form .form-item,
.views-exposed-form .form-group.form-wrapper.form-actions,
.views-form form .form-group .form-item,
.views-form form .form-group .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

/* Table Dropdown */
.js .dropbutton-multiple .dropbutton-widget {
  padding-right: 0;
  border: none;
}
.js .dropbutton-widget,
.custom-dropdown .dropdown-menu li.dropbutton-action {
  border: none;
}
.custom-dropdown .dropdown-menu .dropbutton-toggle {
  display: none;
}
.dropbutton-multiple .custom-dropdown .dropdown-menu .secondary-action {
  display: block;
}
.dropbutton-multiple .custom-dropdown .dropbutton .dropbutton-action > * {
  margin-right: 0;
}
.custom-dropdown {
  color: #333;
  border-color: #ccc;
  background-color: #fff;
}
.custom-dropdown .links {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 36px 6px 12px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  font-weight: normal;
  line-height: 1.42857;
}
.custom-dropdown .links .glyphicon {
  margin-right: 5px;
}
.custom-dropdown .dropdown-menu {
  border: 1px solid #ccc !important;
}
.custom-dropdown .dropdown-menu {
  border: none;
}
.custom-dropdown .links a,
.custom-dropdown .links,
.custom-dropdown .links::before,
.custom-dropdown .links a::before {
  color: #333;
}
.custom-dropdown .links a {
  position: relative;
  margin-right: 0;
}
.custom-dropdown .dropdown-toggle .caret {
  right: 10px;
  left: inherit;
  padding: 4px;
}
.dropbutton-widget .custom-dropdown .dropdown-menu {
  padding: 5px 0;
  box-shadow: 0 6px 12px rgb(0, 0, 0, 0.18);
}
.dropbutton-widget .custom-dropdown .dropbutton-action > * {
  padding: 3px 20px;
}
.custom-dropdown .links a:hover,
.custom-dropdown .links a:hover::before,
.custom-dropdown .links:hover,
.custom-dropdown .dropdown-menu li:hover a {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.custom-dropdown .dropdown-menu li:hover a::before {
  color: #262626;
}

/* Card */
.card-header {
  font-weight: bold;
}

.layout.layout--twocol-bricks .block {
  margin: 10px;
}

/* Vertical Tab */
.details-wrapper .vertical-tabs__menu li.is-selected {
  border: 1px solid #ddd;
  border-right: none;
}
