body {
  color: #bbb;
  background-color: #232525;
}

a {
  color: #ebebeb;
}

a:hover,
a:focus {
  color: #abb6c2;
}

/* Header section */
.caret {
  display: inline-block;
  margin-top: -3px;
  margin-left: 5px;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid;
  border-width: 0 2px 2px 0;
}

body.extra_small_text .caret {
  margin-top: -2px;
  padding: 2px;
  border-width: 0 2px 2px 0;
}

body.small_text .caret {
  margin-top: -3px;
  padding: 3px;
  border-width: 0 2px 2px 0;
}

body.medium_text .caret {
  margin-top: -4px;
  padding: 4px;
  border-width: 0 2px 2px 0;
}

body.large_text .caret {
  margin-top: -6px;
  padding: 6px;
  border-width: 0 2px 2px 0;
}

body.extra_large_text .caret {
  margin-top: -8px;
  padding: 8px;
  border-width: 0 2px 2px 0;
}

.dropdown-submenu .caret {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tabbable-panel ul.nav-tabs li {
  margin-right: 2px;
}
.tabbable-panel ul.nav-tabs li a {
  padding: 11px 15px;
  border-radius: 4px 4px 0 0;
}
.tabbable-panel ul.nav-tabs li.active a {
  padding: 10px 15px;
}
.tabbable-panel ul.nav-tabs li a:hover,
.tabbable-panel ul.nav-tabs li a:focus {
  text-decoration: none !important;
}
.tabbable-panel ul.nav-tabs li:hover a {
  text-decoration: none;
  color: #abb6c2;
  border-color: #eee #eee #ddd;
  background-color: #eee;
}
.tabbable-panel ul.nav-tabs li.active:hover a {
  text-decoration: none;
  color: #555;
  border-color: #ddd #ddd transparent;
  background-color: #fff;
}

.navbar-default {
  border-color: #3c3f41;
  background-color: #3c3f41;
}

.navbar-default .navbar-nav .dropdown-toggle.show,
.navbar-default .navbar-nav .dropdown-toggle.show:hover,
.navbar-default .navbar-nav .dropdown-toggle.show:focus {
  color: #ebebeb;
  background-color: #313335;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.dropdown-menu > li > a,
.navbar-nav .dropdown .dropdown-menu li a.dropdown-toggle,
.navbar-nav .dropdown .dropdown-menu li a {
  color: #ebebeb;
}

.dropdown-menu,
.navbar-default .navbar-nav .open .dropdown-menu .dropdown-submenu ul {
  background-color: #3c3f41;
}

nav .navbar-default .navbar-nav > .show,
.navbar-default .navbar-nav > .show:hover,
.navbar-default .navbar-nav > .show:focus,
nav .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav li.open > a {
  background-color: #313335;
}

.navbar-nav .caret {
  color: #359dfd;
}

/* Title and Breadcumb design */
.page-header {
  margin-top: 20px;
  border-bottom: 1px solid #3c3f41;
}
.breadcrumb {
  margin-bottom: 20px;
  padding: 8px 15px 8px 0;
}
.breadcrumb > .active,
.breadcrumb > .active a {
  color: #abb6c2;
}

/* Tab design */
.tabs .nav-tabs {
  border: none;
}

.tabs .nav > li > a {
  margin: 4px 0 10px;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.2s ease-in-out;
  color: #fff;
  border: none;
  border-bottom: none;
  border-left: 1px solid #ccc;
  border-radius: 0;
  line-height: normal;
}

.tabs .nav > li:last-child > a {
  border-right: 1px solid #ccc;
}

.tabs .nav-tabs > li.active {
  border-bottom: 3px solid #285884;
  background-color: transparent;
}

.tabs .nav-tabs > li.active > a {
  color: #359dfd;
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: transparent;
}

.nav-tabs > li {
  margin-bottom: 10px;
}

.tabs .nav > li > a:hover,
.tabs .nav > li > a:focus {
  color: #359dfd;
  background-color: transparent;
}

body.extra_small_text .tabs .nav > li > a {
  margin: 4px 0 6px;
}

body.extra_small_text .tabs .nav-tabs > li.active {
  border-bottom-width: 2px;
}

/* Panel */
.panel-default {
  border-color: #3c3f41;
  background-color: #3c3f41;
}

.panel-default > .panel-heading {
  color: #ebebeb;
  border-color: #313335;
  background-color: #313335;
}

/* Table */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  border-top: 1px solid #ddd;
  line-height: 1.42857;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > tbody > tr > td > a {
  color: #ebebeb;
  border-top-color: #313335;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table-striped > tbody > tr:nth-of-type(odd),
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: #3c3f41;

  color: #bbb;
  background-color: #3c3f41;
}

.table-hover > tbody > tr:hover,
.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: #313335;

  color: #bbb;
  background-color: #313335;
}
tr.selected td {
  color: #bbb;
  background-color: #232525;
}
.table > thead > tr > th,
.view-content .views-form #edit-header {
  border-color: #313335;
}

table.sticky-header {
  background-color: #313335;
}

.table > thead > tr > th > a .glyphicon.icon-after,
.table > thead > tr > th > a .glyphicon,
.table thead th.is-active .caret,
.sticky-header thead th.is-active .caret {
  color: #3d9ad3;
}
.table thead th.is-active .caret.downarrow {
  transform: rotate(-135deg);
}

/* Button */
.btn-default {
  color: #ebebeb;
  border-color: #285884;
  background-color: #285884;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  text-decoration: none;
  color: #ebebeb;
  border-color: #1c3857;
  background-color: #1c3857;
}

.btn-primary,
.btn-info,
.button.form-submit {
  color: #bfd0da;
  border-color: #285884;
  background-color: #285884;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info:focus,
.btn-info.focus,
.open > .dropdown-toggle.btn-info,
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus,
.button.form-submit:hover,
.button.form-submit:focus,
.button.form-submit:active:hover,
.btn-info.btn-wrap:hover .form-submit,
.btn-info.btn-wrap:active .form-submit,
.btn-info.btn-wrap:focus .form-submit,
.btn-info.btn-wrap:active:hover .form-submit {
  text-decoration: none;
  color: #95b8cc;
  border-color: #1c3857;
  background-color: #1c3857;
}

.btn-success,
.btn-wrap.btn-success .button.form-submit {
  color: #fff;
  border-color: #476c40;
  background-color: #476c40;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success:focus,
.btn-success.focus,
.open > .dropdown-toggle.btn-success,
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus,
.btn-wrap.btn-success:hover .button.form-submit {
  text-decoration: none;
  color: #fff;
  border-color: #4a7b50;
  background-color: #4a7b50;
}

.btn-warning,
.btn-wrap.btn-warning .button.form-submit {
  color: #fff;
  border-color: #eea236;
  background-color: #f0ad4e;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning,
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus,
.btn-wrap.btn-warning:hover .button.form-submit {
  text-decoration: none;
  color: #fff;
  border-color: #d58512;
  background-color: #ec971f;
}

.form-control,
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown,
select,
.form-control:focus,
input.form-control:focus {
  color: #3c3f41;
  border-color: #abb6c2;
  background-color: #d0d7de;
}

table.select2-results,
.select2-container--default .select2-results__option[aria-selected='true'] {
  color: #3c3f41;
  background-color: #d0d7de;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #abb6c2;
}

.select-wrapper::after {
  color: #359dfd;
}

.help-block,
.control-group .help-inline {
  color: #abb6c2;
}

/* Pagination color changes */
.pagination > li > a,
.pagination > li > span {
  color: #3c3f41;
  border-right: 1px solid #abb6c2;
  background-color: #d0d7de;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: #285884;
  background-color: #285884;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #337ab7;
  border-color: #abb6c2;
  background-color: #d0d7de;
}

/* Up and Down arrow icon for table */
.glyphicon {
  margin-right: 3px;
}
.glyphicon.glyphicon-tags {
  margin-right: 4px;
}

/* Select icon */
form .select-wrapper::after {
  color: #359dfd;
}

body.extra_small_text form .select-wrapper::after {
  margin-top: -4px;
  padding: 2px;
}

body.small_text form .select-wrapper::after {
  margin-top: -5px;
  padding: 3px;
}

body.medium_text form .select-wrapper::after {
  margin-top: -6px;
  padding: 4px;
}

body.large_text form .select-wrapper select {
  padding-right: 2.5em;
}

body.large_text form .select-wrapper::after {
  right: 13px;
  margin-top: -10px;
  padding: 6px;
}

body.extra_large_text form .select-wrapper select {
  padding-right: 3em;
}

body.extra_large_text form .select-wrapper::after {
  right: 17px;
  margin-top: -14px;
  padding: 8px;
}

/* form element */
select.form-select,
select.form-select:hover {
  color: #3c3f41;
  border-color: #abb6c2;
  background-color: #d0d7de;
}
.form-inline .select-wrapper {
  width: auto;
}

/* Tab buttons */
.local-actions li a i {
  margin-right: 5px;
}
.views-exposed-form .form-item {
  display: flex;
  align-items: center;
}

.views-exposed-form .form-item .control-label {
  margin-right: 10px;
}

.views-exposed-form .form-item .form-control {
  display: inherit;
  width: auto;
}
.views-exposed-form .form-item,
.views-exposed-form .form-group.form-wrapper.form-actions,
.views-form form .form-group .form-item,
.views-form form .form-group .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

form .form-actions .form-submit {
  color: #ebebeb;
}

/* Table Dropdown */
.js .dropbutton-multiple .dropbutton-widget {
  padding-right: 0;
  border: none;
}
.js .dropbutton-widget,
.custom-dropdown .dropdown-menu li.dropbutton-action {
  border: none;
}
.custom-dropdown .dropdown-menu .dropbutton-toggle {
  display: none;
}
.dropbutton-multiple .custom-dropdown .dropdown-menu .secondary-action {
  display: block;
}
.dropbutton-multiple .custom-dropdown .dropbutton .dropbutton-action > * {
  margin-right: 0;
}
.custom-dropdown {
  color: #ebebeb;
  border-color: #285884;
  background-color: #285884;
}
.custom-dropdown .links {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 36px 6px 12px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  font-weight: normal;
  line-height: 1.42857;
}
.custom-dropdown .links .glyphicon {
  margin-right: 5px;
}
.custom-dropdown .dropdown-menu {
  border: none;
}
.custom-dropdown .links a,
.custom-dropdown .links,
.custom-dropdown .links::before,
.custom-dropdown .links a::before {
  color: #ebebeb;
}
.custom-dropdown .links a {
  position: relative;
  margin-right: 0;
}
.custom-dropdown .dropdown-toggle .caret {
  right: 10px;
  left: inherit;
  padding: 4px;
}
.dropbutton-widget .custom-dropdown .dropdown-menu {
  padding: 5px 0;
  box-shadow: 0 6px 12px rgb(0, 0, 0, 0.18);
}
.dropbutton-widget .custom-dropdown .dropbutton-action > * {
  padding: 3px 20px;
}
.custom-dropdown .links a:hover,
.custom-dropdown .links a:hover::before,
.custom-dropdown .links:hover {
  text-decoration: none;
  color: #ebebeb;
  border-color: #1c3857;
  background-color: #1c3857;
}
.custom-dropdown .dropdown-menu li:hover a,
.custom-dropdown .dropdown-menu li:hover a::before {
  color: #262626;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
}
.custom-dropdown .dropdown-menu li:hover a::before {
  color: #262626;
}

/* Card */
.card {
  border-color: #3c3f41;
  background-color: #3c3f41;
}

.card-header {
  color: #ebebeb;
  border-color: #313335;
  background-color: #313335 !important;
  font-weight: bold;
}

.layout.layout--twocol-bricks .block {
  margin: 10px;
}
/* Vertical Tab */
.details-wrapper .vertical-tabs__menu li.is-selected {
  border: 1px solid #ddd;
  border-right: none;
}
.details-wrapper .vertical-tabs__panes {
  border: 1px solid #ddd;
}
