@charset "UTF-8";

@import 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css';
body {
  font-family: 'Lucida Grande', Lato, 'Hiragino Maru Gothic Pro W4', Meiryo,
    Trebuchet, 'Trebuchet MS', Verdana, Arial, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #337ab7;
}

.tabs .nav > li > a:hover,
.tabs .nav > li > a:focus {
  text-decoration: none;
}

.container-fluid {
  padding-right: 70px;
  padding-left: 70px;
}

.breadcrumb {
  padding-left: 0;
  background: none;
}

.footer {
  margin-top: 10px;
  padding-top: 15px;
}

/** Adding margin top to support fixed nav bar without toolbar enabled. **/
.main-container {
  margin-top: 95px;
}

/** Removing margin if toolbar included on the page. **/
body.toolbar-fixed .main-container {
  margin-top: 0;
}

.tooltip-inner {
  max-width: 500px !important;
  font-size: medium;
}

.region-content {
  margin: 10px 10px 10px 0;
  padding: 0;
}

.local-actions {
  margin-top: 20px;
}

.page-header {
  margin: 40px 0 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body.toolbar-fixed {
  margin-top: 95px;
}

/* Header */
header {
  margin-bottom: 20px;
}
body.toolbar-fixed .toolbar-oriented .toolbar-bar {
  z-index: 1031;
}

body.toolbar-horizontal.toolbar-tray-open .fixed-top {
  top: 79px;
}

body.toolbar-horizontal .fixed-top,
body.toolbar-vertical .fixed-top {
  z-index: 1030;
  top: 39px;
}

.navbar-default {
  border-color: #e7e7e7;
  background-color: #f8f8f8;
}

header .navbar {
  padding: 0;
}

.name.navbar-brand {
  display: none;
}

.navbar .navbar-header .region-navigation {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.navbar .navbar-collapse .region-navigation-collapsible {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-collapse.show {
  border-top: 1px solid #e7e7e7;
}

.navbar-toggler:hover {
  background-color: #ddd;
}

.navbar-toggle {
  border-color: #ddd;
}

.navbar-nav > li > a {
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: inherit;
  color: #ebebeb;
}

.navbar-nav > li > a.is-active {
  color: #ebebeb;
}

.navbar-nav .dropdown .dropdown-toggle {
  padding: 30px 15px;
  cursor: pointer;
}

.navbar-nav .dropdown .dropdown-toggle .caret {
  position: unset;
  margin-left: 5px;
  transform: rotate(45deg);
}

.navbar-nav .dropdown .dropdown-menu {
  min-width: 300px;
}

.navbar-nav .dropdown .dropdown-menu li a {
  width: 100%;
}
.navbar-nav .dropdown .dropdown-menu li a:hover {
  text-decoration: none;
}
/* Tab bar */
.nav > li > a {
  position: relative;
  display: block;
  padding: 30px 15px;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link {
  border-bottom: none;
}

/* Form Element */
.form-inline {
  display: flex;
  align-items: center;
}

.list-inline {
  display: flex;
  align-items: center;
}

.list-inline li {
  margin-right: 15px;
}

.list-inline li:last-child {
  margin-right: 0;
}

.cloud-launch-template-list .form-wrapper {
  display: flex;
  align-items: flex-end;
  margin-right: 15px;
}

.cloud-launch-template-list .form-wrapper .form-item {
  display: inline-block;
  margin-right: 15px;
}

.cloud-launch-template-list .form-wrapper .form-item label {
  width: 100%;
}

.cloud-launch-template-list .form-wrapper .form-item .select-wrapper {
  width: 100%;
}

.dropdown .dropdown-toggle {
  position: relative;
  padding: 15px 19px;
}

.dropdown .dropdown-toggle::after {
  display: none;
}

.dropdown .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: rotate(45deg) translate(-50%, -50%);
}

.dropdown .dropdown-menu {
  top: 100%;
  padding: 5px 0;
  box-shadow: 0 6px 12px rgb(0, 0, 0, 0.18);
}

/* Table */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table tbody {
  border-top: none;
}

.table > :not(:first-child) {
  border-top: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-striped tbody tr th,
.table-striped tbody tr td {
  border: none;
}

/* BreadCrumbs */
.breadcrumb li::before {
  padding: 0 5px 0 8px;
  content: '/\00a0';
  color: #ccc;
}

/* Footer */
.footer {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 36px;
  border-top: 1px solid #e5e5e5;
}

/* Form Element */
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

select.form-select,
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown,
select {
  color: #4e5d6c;
  border-color: #abb6c2;
  background-color: #d0d7de;
}

.select-wrapper select {
  padding-right: 2em;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control,
select.form-select[disabled]:hover {
  cursor: not-allowed;
  opacity: 1;
  background-color: #eee;
}

.alert-warning a,
.alert-warning a:hover,
.alert-warning a:focus {
  color: #664d03;
  font-weight: bold;
}
.alert-warning a:hover,
.alert-warning a:focus {
  text-decoration: underline;
}

.field--name-tags .table-responsive table tr .field-multiple-drag + td,
.field--name-tags
  .table-responsive
  table
  tr
  .field-multiple-drag
  + td
  .ajax-new-content,
.field--name-field-tags .table-responsive table tr .field-multiple-drag + td,
.field--name-field-tags
  .table-responsive
  table
  tr
  .field-multiple-drag
  + td
  .ajax-new-content,
.field--type-cidr-block .table-responsive table tr .field-multiple-drag + td,
.field--type-cidr-block
  .table-responsive
  table
  tr
  .field-multiple-drag
  + td
  .ajax-new-content,
.field--type-key-value .table-responsive table tr .field-multiple-drag + td,
.field--type-key-value
  .table-responsive
  table
  tr
  .field-multiple-drag
  + td
  .ajax-new-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.field--name-tags
  .table-responsive
  table
  tr
  .field-multiple-drag
  + td
  .col-sm-6,
.field--name-field-tags
  .table-responsive
  table
  tr
  .field-multiple-drag
  + td
  .col-sm-6,
.field--type-cidr-block
  .table-responsive
  table
  tr
  .field-multiple-drag
  + td
  .col-sm-6,
.field--type-key-value
  .table-responsive
  table
  tr
  .field-multiple-drag
  + td
  .col-sm-6 {
  padding: 0 15px;
}

/* Vertical Tabs */
.details-wrapper .vertical-tabs,
.details-wrapper .vertical-tabs__menu {
  border: none;
}
.details-wrapper .vertical-tabs__menu {
  position: relative;
  z-index: 1;
  margin-left: -14.9em;
}
.details-wrapper .vertical-tabs__menu li {
  border: none;
  background-color: transparent;
}
.details-wrapper .vertical-tabs__menu li.is-selected {
  background-color: #fff;
}
.details-wrapper .vertical-tabs__menu li:hover,
.details-wrapper .vertical-tabs__menu li a:hover,
.details-wrapper
  .vertical-tabs__menu
  li
  a:hover
  .vertical-tabs__menu-item-title {
  text-decoration: none;
  border: none;
  outline: none;
}

/* Pagination */
.pager-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pager-nav .pagination {
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li:last-child a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li {
  padding: 0;
}

.pagination > li > a,
.pagination > li > span {
  display: inline-block;
  padding: 6px 13px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  cursor: default;
  color: #fff;
}

/* Dark Theme */
.form-actions .form-submit {
  border-color: #044e71;
  background-color: #044e71;
}

.form-actions .form-submit:hover {
  border-color: #00405f;
  background-color: #00405f;
}

.form-actions .form-submit {
  color: #bfd0da;
}

.js .dropbutton-multiple .dropbutton-widget {
  color: #ebebeb;
  border-color: #044e71;
  background-color: #044e71;
}

@media (max-width: 767px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
  .region-content {
    margin-right: 0;
  }
  .layout--twocol-tabbed-bricks .tab-content .pane-content {
    display: block;
  }

  body.toolbar-horizontal .fixed-top,
  body.toolbar-vertical .fixed-top {
    z-index: 500;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-default .navbar-toggler {
    border-color: #ddd;
  }

  .navbar-toggler {
    padding: 5px 10px;
  }

  .navbar-toggler-icon {
    width: 22px;
    height: 22px;
  }

  .navbar .navbar-collapse .region-navigation-collapsible {
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: unset;
    align-items: flex-start;
    padding: 8px 0;
  }

  .navbar .navbar-collapse .region-navigation-collapsible > nav {
    width: 100%;
  }

  #navbar-collapse .navbar-nav > li > a {
    width: 100%;
    padding: 10px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }

  .navbar-nav .dropdown .dropdown-toggle {
    padding: 10px 15px;
  }

  nav .navbar-nav .dropdown > .dropdown-menu {
    border: none;
  }

  .navbar-nav .dropdown-menu > li > a {
    padding: 10px 15px 0 25px;
  }

  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: #777;
  }

  .navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    color: #333;
  }

  .navbar .navbar-nav .show .dropdown-submenu .dropdown-menu > li > a {
    padding-left: 30px;
    font-size: 18px;
  }

  .list-inline {
    display: block;
    align-items: inherit;
  }

  .list-inline li {
    display: inline-block;
    margin-bottom: 10px;
  }
}
