table.sticky-header {
  margin-top: 60px;
}

.table-responsive {
  overflow-y: visible !important;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

td .checkbox label {
  padding-top: 4px;
}

.bulk-delete-form .table-responsive .select-all {
  width: 37px;
}

.table .views-field-operations {
  min-width: 154px;
}

.table thead th.is-active .caret:only-child,
.table thead th.is-active .caret.downarrow:only-child,
.table thead th.is-active .caret:first-of-type,
.table thead th.is-active .caret.downarrow:first-of-type,
.sticky-header thead th.is-active .caret:only-child,
.sticky-header thead th.is-active .caret.downarrow:only-child,
.sticky-header thead th.is-active .caret:first-of-type,
.sticky-header thead th.is-active .caret.downarrow:first-of-type {
  display: inline-block;
}

.table thead th.is-active .caret,
.table thead th.is-active .caret.downarrow,
.sticky-header thead th.is-active .caret,
.sticky-header thead th.is-active .caret.downarrow {
  display: none;
}

.sticky-header thead th.is-active .caret.downarrow {
  transform: rotate(-135deg);
}
