.view-content h2 {
  margin: 15px;
  border: 1px;
  font-size: x-large;
}

.views-form .dropdown-menu {
  min-width: 0;
}

.view-content .views-form .form-group {
  margin-bottom: 20px;
  /* margin-top: 0; */
}

.view-filters {
  margin-bottom: 20px;
}

.view-content .views-form #edit-header .form-group,
.view-filters .form-group {
  padding-right: 10px;
}

.view-content .views-form #edit-header {
  border-bottom: 1px solid #ddd;
}
